<h1>Корзина</h1>
<div id="card">
{{#if courses.length}}
    <h1>Курсы</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{courseId.title}}</td>
                <td>{{count}}</td>
                <td>
                    <button 
                    class="btn btn-small js-remove" 
                    data-id="{{courseId._id}}"
                    data-csrf="{{@root.csrf}}"
                    >Удалить</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    <p ><strong>Цена: <span class="price"> {{price}}</span> </strong></p>
    
    <form action="/orders" method="POST">
     <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn">Сделать заказ</button>
    </form>

{{else}}
    <h1>No courses</h1>
{{/if}}
</div>